<h1>Las mejores tartas!</h1>
<fieldset class="form">
  <legend>Dar de alta una tarta</legend>
  <div class="field">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" [(ngModel)]="nombre">
  </div>
  <div class="field">
    <label for="sabor">Sabor:</label>
    <input type="text" name="sabor" [(ngModel)]="sabor">
  </div>
  <div class="field">
    <label for="intolerancia">Intolerancias:</label>
    <select name="intolerancia" [(ngModel)]="intolerancia">
      <option value="Gluten">Gluten</option>
      <option value="Vegano">Vegano</option>
      <option value="Huevo">Huevo</option>
      <option value="Lactosa">Lactosa</option>
      <option value="Dieta">Dieta</option>
    </select>
  </div>
  <div class="field">
    <label for="caloriasRacion">Calorias por racion:</label>
    <input type="number" name="caloriasRacion" [(ngModel)]="caloriasRacion">
  </div>
  <div class="field">
    <label for="precio">Precio:</label>
    <input type="number" name="precio" [(ngModel)]="precio">
  </div>
  <div class="field">
    <label for="numPorciones">Numero de porciones:</label>
    <input type="number" name="numPorciones" [(ngModel)]="numPorciones">
  </div>
  <input type="button" value="Agregar Tarta" (click)="addTarta()">
</fieldset>


<div class="showData">
  <div class="field" *ngIf="tartas.length>0">
    <label for="filtter">Filtrar intolerancias:</label>
    <select name="filtter" [(ngModel)]="filtro">
      <option value="Gluten">Gluten</option>
      <option value="Vegano">Vegano</option>
      <option value="Huevo">Huevo</option>
      <option value="Lactosa">Lactosa</option>
      <option value="Dieta">Dieta</option>
    </select>
  </div>
  <input type="text" name="dieta" *ngIf="filtro=='Dieta'" [(ngModel)]="caloriasDieta">
  <div class="cakeList" *ngFor="let tarta of tartas">
    <div *ngIf="filtro=='Dieta'else itemSinDieta">
      <p class="cakeItem" *ngIf="tarta.caloriasRacion<=caloriasDieta">{{tarta.nombre}} {{tarta.sabor}} {{tarta.intolerancia}} {{tarta.caloriasRacion}} </p>
    </div>
    <ng-template #itemSinDieta>
      <p class="cakeItem" *ngIf="tarta.intolerancia!=filtro">{{tarta.intolerancia}}</p>
    </ng-template>
  </div>
</div>