<h1 class="title">Las mejores <span class="text-purple">tartas</span>!</h1>
<fieldset class="form" class="form">
    <legend>Dar de alta una tarta</legend>
    <div class="field">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" [(ngModel)]="nombre">
    </div>
    <div class="field">
        <label for="sabor">Sabor:</label>
        <input type="text" name="sabor" [(ngModel)]="sabor">
    </div>
    <div class="field">
        <label for="intolerancia">Intolerancias:</label>
        <select name="intolerancia" [(ngModel)]="intolerancia">
            <option *ngFor="let element of intolerancias" [value]="element">{{element}}</option>
            <option value="Sin alérgenos">Sin alérgenos</option>
        </select>
    </div>
    <div class="field">
        <label for="caloriasRacion">Calorias por racion:</label>
        <input type="number" name="caloriasRacion" [(ngModel)]="caloriasRacion">
    </div>
    <div class="field">
        <label for="precio">Precio:</label>
        <input type="number" name="precio" [(ngModel)]="precio">
    </div>
    <div class="field">
        <label for="numPorciones">Numero de porciones:</label>
        <input type="number" name="numPorciones" [(ngModel)]="numPorciones">
    </div>
    <input type="button" value="Agregar Tarta" (click)="addTarta()" class="btn"
        *ngIf="nombre && sabor && intolerancia && numPorciones && caloriasRacion && precio else btnDisabled">
    <ng-template #btnDisabled>
        <input type="button" value="Rellena los campos" class="btn" disabled>
    </ng-template>
</fieldset>

<div class="search">
    <div class="showData">
        <div class="field" *ngIf="tartas.length>0">
            <label for="filtter">Filtrar intolerancias:</label>
            <select name="filtter" [(ngModel)]="filtro" >
                <option value="all">Todas</option>
                <option value="Dieta">Dieta</option>
                <option *ngFor="let element of intolerancias" [value]="element">{{element}}</option>
            </select>
            <!-- <input type="button" value="Filtrar" class="btn btn--filtro" (click)="filtrar(filtro.value)"> anhadir a select #filtro y quitar model   -->
        </div>
        <div class="field" *ngIf="filtro=='Dieta'">
            <label for="dieta">Calorías máximas</label>
            <input type="number" name="dieta" [(ngModel)]="caloriasDieta" min="0">
        </div>
    </div>
</div>

<div class="cakeList" *ngFor="let tarta of tartas">
    <div *ngIf="filtro=='Dieta'else itemSinDieta">
        <div class="cakeItem" *ngIf="tarta.caloriasRacion<=caloriasDieta" class="cakeItem"
            [ngClass]="{gluten:tarta.intolerancia=='Gluten',lactosa:tarta.intolerancia=='Lactosa',huevo:tarta.intolerancia=='Huevo',vegano:tarta.intolerancia=='Vegano'}">
            <div class="cakeItem__contenido">
                <h3 class="cakeItem__title">{{tarta.nombre}}</h3>
                <p>Sabor: <span class="text-purple">{{tarta.sabor}}</span></p>
                <p>Alérgenos: <span class="text-purple">{{tarta.intolerancia}}</span></p>
                <p>Porciones: <span class="text-purple">{{tarta.numPorciones}} u.</span></p>
                <p>Precio: <span class="text-purple">{{tarta.precio}}</span></p>
                <p>Calorias: <span class="text-purple">{{tarta.caloriasRacion}} kc/100g</span></p>
            </div>
            <div class="cakeItem__img">
                <img [src]="getImage()" alt="tarta">
            </div>
        </div>
    </div>
    <ng-template #itemSinDieta>
        <div class="cakeItem" *ngIf="tarta.intolerancia!=filtro || filtro=='all'"
            [ngClass]="{gluten:tarta.intolerancia=='Gluten',lactosa:tarta.intolerancia=='Lactosa',huevo:tarta.intolerancia=='Huevo',vegano:tarta.intolerancia=='Vegano'}">
            <div class="cakeItem__contenido">
                <h3 class="cakeItem__title">{{tarta.nombre}}</h3>
                <p>Sabor: <span class="text-purple">{{tarta.sabor}}</span></p>
                <p>Alérgenos: <span class="text-purple">{{tarta.intolerancia}}</span></p>
                <p>Porciones: <span class="text-purple">{{tarta.numPorciones}} u.</span></p>
                <p>Precio: <span class="text-purple">{{tarta.precio}}</span></p>
                <p>Calorias: <span class="text-purple">{{tarta.caloriasRacion}} kc/100g</span></p>
            </div>
            <div class="cakeItem__img">
                <img [src]="getImage()" alt="tarta">
            </div>
        </div>
    </ng-template>
</div>