:root {
    --font-primary: "Roboto", sans-serif;

    --black: #232024;
    --purple: #C62368;
    --pink: #FA7268;
    --white:white;
    --grey:grey;
    --beige:rgb(255, 201, 139);
    --softBlue:rgb(139, 185, 255);
    --softYellow:rgb(255, 238, 89);
    --softGreen:rgb(153, 255, 128);
}

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./assets/img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: 1.8rem;
    font-family: var(--font-primary);
    color: var(--black);
}
img{
    max-width: 100%;
}
.container {
    max-width: 140rem;
    margin: 0 auto;
}
.text-purple {
    color: var(--purple);
}

